:root {
    --gap: 2rem;
}

* {
    cursor: none;
}

html,
body {
    background: white;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.cursor {
    width: 20px;
    height: 20px;
    left: -10px;
    top: -10px;
    background: #fff;
    mix-blend-mode: difference;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 999999;
}

.bouncingImg {
    display: block;
    width: 6rem;
    height: 6rem;
    object-fit: contain;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s ease;
}

.bouncingImg.active {
    opacity: 1;
}

.timeContainer {
    overflow: hidden;
    width: 100vw;
}

.clock {
    display: flex;
    white-space: nowrap;
    animation: slide 15s linear infinite;
    animation-direction: reverse;
    --from: 100vw;
    --to: -20vw;
}

.clock h4 {
    padding-right: var(--gap);
}

.subHeadingOffset {
    margin-left: 2.7%;
    text-align: left;
}

.about {
    margin-left: 2.7%;
    margin-right: 65%;
    text-align: left;
}

.about .cv-button {
    font-family: "Roboto Mono";
    font-size: 1rem;
    font-weight: 200;
    background: none;
    border: none;
    transition: font-weight 0.15s ease;
}

.about .cv-button:hover {
    font-weight: 900;
}

h1 {
    margin: 0;
    font-family: "doto";
    color: black;
    font-size: 3rem;
    font-weight: 300;
}

h2 {
    margin: 0;
    font-family: "roboto mono";
    color: black;
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    font-family: "roboto mono";
    color: gray;
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
}

h4 {
    margin: 0;
    font-family: "doto";
    color: black;
    font-size: 1rem;
    font-weight: 300;
}

header {
    display: flex;
    width: max-content;
    white-space: nowrap;
    animation: slide 20s linear infinite;
    --from: 0;
    --to: -50%;
}

.animatedHeader {
    margin: 0;
    padding-right: 0;
    white-space: nowrap;
}

@keyframes slide {
    from {
        transform: translateX(var(--from));
    }

    to {
        transform: translateX(var(--to));
    }
}

.navContainer {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
}

.navContainer button {
    font-family: "roboto mono";
    font-size: 1rem;
    font-weight: 200;
    background: none;
    border: none;
    transition: font-weight 0.15s ease;
}

.navContainer button:hover {
    font-weight: 700;
}

.navContainer button.active {
    font-weight: 900;
}

.navContainer button.active:hover {
    font-weight: 700;
}

.workContainer {
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, auto);
    row-gap: 8rem;
    justify-content: space-between;
}

.workContainer button {
    background: none;
    border: none;
    width: 100%;
    text-align: center;
}

.workContainer button h3 {
    position: relative;
    display: block;
    width: 100%;
}

.workContainer button h3::after {
    content: attr(data-hover);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    white-space: nowrap;
    text-align: left;
    font-weight: 400;
    transition: 0.5s;
}

.workContainer button:hover h3 {
    color: transparent;
}

.workContainer button:hover h3::after {
    opacity: 1;
    color: gray;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: black;
    color: white;
}

.animatedFooter {
    color: white;
    margin: 0;
    display: flex;
    white-space: nowrap;
    animation: slide 20s linear infinite;
    animation-direction: reverse;
    --from: 100vw;
    --to: -60vw;
}

.staticFooter {
    width: 100%;
    padding: 0;
}

.staticFooterContent {
    width: 95%;
    margin: 0 auto;
    text-align: left;
    font-family: "doto";
    font-size: 1rem;
    font-weight: 300;
}

.staticFooterContent button {
    font: inherit;
    color: white;
    background: none;
    border: none;
    cursor: none;
}

.staticFooter button:hover {
    font-weight: 600;
}

/* ABOUT PAGE SPECIFICS */

.aboutContainer {
    width: 97%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    row-gap: 8rem;
}

.aboutItem,
.aboutItemMerged {
    padding: 20px;
    text-align: left;
}

.aboutItemMerged {
    grid-column: span 2;
}

/*.aboutContainer>div {
    border: 1px solid black;
}*/

.aboutImg {
    display: block;
    width: 6rem;
    height: 6rem;
    object-fit: contain;
    top: 0;
    left: 0;
    pointer-events: none;
}